# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
.Python
*.manifest
*.spec

# Virtualenv / venv
.env
.env.*
!.env.example
.venv
venv/
ENV/
env/
pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / cache
*.dll
*.dylib
*.lib

# --------------------
# FastAPI
